
<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <h1>BRQ WAY <br>
        NOSSA ESSÊNCIA SÃO AS PESSOAS</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        A BRQ nasceu há quase 30 anos com um apaixonado por tecnologia. Hoje, somos mais de 3 mil feras e uma empresa
        reconhecida como uma das melhores para trabalhar no país pelo GPTW e pelo Glassdoor.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        Com um time lean, ágil, e multidisciplinar que trabalha em anywhere office para qualquer lugar do mundo. Nossa
        cultura é colaborativa e o que traduz a nossa capacidade e essência são as nossas pessoas.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <h3>Traga a sua paixão e junte-se a nós para criar o futuro agora.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3 mb-5">

      <button type="button" (click)="userRegister()" class="btn btn-primary color-button">VENHA SER UM #FERA 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
      </button>
    </div>
  </div>
</div>

<div>
  <img class="img-fluid" src="assets/foto.webp" alt="home office">
</div>